					-->
					<dl class="row-item">
						<dt><div class="list-inner"><!-- IF forumrow.S_IS_CAT --><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF --><!-- IF forumrow.FORUM_DESC --><br /><span style="text-transform: none;">{forumrow.FORUM_DESC}</span><!-- ENDIF --></div></dt>
						<dd class="topics">{L_TOPICS}</dd>
						<dd class="posts">{L_POSTS}</dd>
						<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
					</dl>
					<!--// Category Description Under Title - Sir Xiradorn - xiradorn.it - END //-->